extends layout

block content
  if !user
    .hero-unit
      h1 欢迎来到Microblog
      p Microblog是一个基于Nodejs的微博系统
      p
        a.btn.btn-primary.btn-large(href="/login") 登录
        a.btn.btn-large(href="/reg") 立即注册
  else
    include say
  include posts
  .container
    .col-sm-2
    .col-sm-8
        .row
          h2 zzj1说
          p.
            GET /stylesheets/bootstrap-theme.min.css 304 24.283 ms - -
            GET /javascripts/jquery.min.js 304 26.108 ms - -
            GET /javascripts/bootstrap.js 304 25.801 ms - -
            GET /stylesheets/bootstrap.css 200 37.933 ms - 146010
            GET /stylesheets/bootstrap.css.map 404 92.500 ms - 2146
            GET /stylesheets/bootstrap-theme.min.css.map 404 121.011 ms - 2146
          h2 zzj2说
          p.
            GET /stylesheets/bootstrap-theme.min.css 304 24.283 ms - -
            GET /javascripts/jquery.min.js 304 26.108 ms - -
            GET /javascripts/bootstrap.js 304 25.801 ms - -
            GET /stylesheets/bootstrap.css 200 37.933 ms - 146010
            GET /stylesheets/bootstrap.css.map 404 92.500 ms - 2146
            GET /stylesheets/bootstrap-theme.min.css.map 404 121.011 ms - 2146
          h2 zzj3说
          p.
            GET /stylesheets/bootstrap-theme.min.css 304 24.283 ms - -
            GET /javascripts/jquery.min.js 304 26.108 ms - -
            GET /javascripts/bootstrap.js 304 25.801 ms - -
            GET /stylesheets/bootstrap.css 200 37.933 ms - 146010
            GET /stylesheets/bootstrap.css.map 404 92.500 ms - 2146
            GET /stylesheets/bootstrap-theme.min.css.map 404 121.011 ms - 2146
    .col-sm-2
