form.well.form-inline.center(action="/post",method="post",style="text-align:center;")
    input.col-sm-8(type="text",name="post")
    button.btn.btn-success(type="submit") 发言
        i.icon-commit.icon-white    